*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #759610;
}
ul{
    list-style: none;
}
.left{
    position: fixed;
    margin-top: 10vh;
    height: 80vh;
    width: 12vw;
    background-color: #9cc913;
    border-radius: 0 10px 10px 0;
}
.oneList>li>img{
    width: 70px;
    height: 70px;
}
.oneList>ul img{
    width: 50px;
    height: 50px;
}
li{
    text-align: center;
    margin-top: 20px;
}
#exitBtn{
    cursor: pointer;
    margin-top: 28vh;
}
.twoList{
/* background-color: blanchedalmond; */
visibility: hidden;
/* visibility: visible; */

}
.userIcon{
    cursor: pointer;
}
.active{
    visibility: visible;
    transition: all 1s;
}
.right{
    margin-left: 12vw;
    width: 88vw;
    height: 100vh;
    /* background-color: black; */
}
.top{
    width: 100%;
    height: 10%;
    /* background-color: aquamarine; */
}
.logo{
    display: inline-block;
    width: 10%;
    height: 100%;
}
.search{
    display: inline-block;
    margin-left: 20%;
    width: 50%;
    height: 10vh;
    /* background-color: black; */
    vertical-align: top;
}
.search form{
    width: 100%;
    height: 100%;
}
.search input{
    margin-top: 2vh;
    padding-left: 18px;
    width: 50%;
    height: 6vh;
    vertical-align: top;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    font-size: larger;
    background-color: transparent;
}
.search img{
    vertical-align: bottom;
    height: 6vh;
}
.hot{
    display: inline-block;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #9cc913;
    border-radius: 10px 0 0 0;
}
.movieShow{
    display: inline-block;
    margin-left: 1vw;
    margin-top: 2vh;
    width: 66vw;
    height: 87.44vh;
    background-color: #759610;
}
.info{
    cursor: pointer;
}
.walletLi{
    cursor: pointer;
}
/* 新增样式规则，用于电影容器 */
/* 样式规则用于电影容器 */
/* 电影容器样式 */
.movie {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: calc(33% - 40px); /* 33.33%宽度，并减去外边距 */
    text-align: left; /* 文本居左 */
    position: relative; /* 为购买按钮创建相对定位的容器 */
}

/* 电影名称样式 */
.movie h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    white-space: nowrap; /* 防止电影名称换行 */
    overflow: hidden; /* 隐藏超出容器的文本 */
    text-overflow: ellipsis; /* 超出部分用省略号表示 */
}

/* 电影信息样式 */
.movie p {
    font-size: 1rem;
    margin-bottom: 5px;
}

/* 购买按钮样式 */
.buy-button {
    position: absolute; /* 相对定位 */
    bottom: 10px; /* 距离底部 10px */
    right: 10px; /* 距离右侧 10px */
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0056b3;
}
